@import url('./reset.css');
@import url('vue-multiselect/dist/vue-multiselect.css');

* {
  box-sizing: border-box;
}

html {
  background-color: #49b7e9;
  height: 100vh;
}

body {
  margin: 0;
  padding: 15px;
  place-items: center;
  min-width: 290px;
  height: 100%;
}

#app {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

button {
  outline: none;
  background: #49b7e9;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  color: white;
  opacity: .7;
  transition: .2s linear;

  &:hover {
    opacity: 1;
    transition: .2s linear;
  }
}

button.successes {
  background: #ebc8c4;
  color: #c64858;
}